global:
  scrape_interval: 15s
  scrape_timeout: 10s

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: node
    static_configs:
      - targets: ["node_exporter:9100"]

  - job_name: docker
    static_configs:
      - targets: ["172.17.0.1:9323"]

  - job_name: cadvisor
    static_configs:
      - targets: ["cadvisor:8080"]
